cloud_id = "one" # your cloud id
folder_id = "another" # catalogue in cloud
zone = "variable" # cloud access zone
image_id = "needs" # id of image build from
public_key = "to" # file path to public ssh key
private_key = "surpass" # file path to private ssh key
subnet_id = "these" # id of cloud destination subnet
service_account_key_file = "tests" # path to service account json
